@tailwind base;
@tailwind components;
@tailwind utilities;

.async-select__value-container {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .async-select__control {
    width: 100%;
    max-width: 300px;
  }
  